{:gifs {"tumblr_oshvsmAL0x1vp4whno5_540.gif" {:tags ["hot" "helping"]},
        "EiiYvLc0wUKLP1DFqciTVg2.gif" {:tags ["frustration"]},
        "VVoeZ.gif" {:tags ["nic cage" "surprise" "um"]},
        "tumblr_m412mw0cRd1qc05f6.gif" {:tags ["sorry" "food"]},
        "147.gif" {:tags ["kitten" "fight" "cute"]},
        "nope.gif" {:tags ["nope"]},
        "iDaLmxyk8fUL3.gif" {:tags ["lick" "love" "videogames"]},
        "dealwithitneti.gif" {:tags ["um" "neti pot"]},
        "AEZQG.gif" {:tags ["haters" "fuck this"]},
        "blew-my-mind.gif" {:tags ["coda" "boom" "wow"]},
        "tumblr_inline_n03l79l1Bh1rfub2x.gif" {:tags ["witch"
                                                      "hocus pocus"
                                                      "surprise"]},
        "tumblr_m0hi0yB2IO1qky3foo2_500.gif" {:tags ["nice"]},
        "boat_parking.gif" {:tags ["oh no"]},
        "ICSiV.jpg" {:tags ["what" "chicken"]},
        "8bf4d722-99fc-4290-a663-e32704667176_text.gif" {:tags ["velociraptor"
                                                                "sides"]},
        "tumblr_lq8m5dxnah1qdi18ao1_r1_500.gif" {:tags ["30 rock"
                                                        "jack donaghy"
                                                        "coping"]},
        "tumblr_l9uiitTGGa1qbq00l.gif" {:tags ["no" "foo"]},
        "tumblr_n6fm9t25s61tsn7e0o1_250.gif" {:tags ["flirt"]},
        "i7zlJ.gif" {:tags ["want"]},
        "shock.gif" {:tags ["surprise" "cute"]},
        "1zxnlhi.gif" {:tags ["gay" "um" "wait"]},
        "c9Ups.gif" {:tags ["oh no"]},
        "tumblr_lqt5m1Gchi1r1x7cto1_500.gif" {:tags ["attack"
                                                     "surprise"
                                                     "kermit"]},
        "1sO7X1B.gif" {:tags ["close call" "truck"]},
        "tumblr_n3bqcyvfoc1r3gb3zo1_250.gif" {:tags ["dance" "mom"]},
        "5e919f94-367d-4633-8528-79f7d4c071a6.gif" {:tags ["self"
                                                           "dance"
                                                           "happy"]},
        "trFkRsd.gif" {:tags ["physics" "oh no"]},
        "tumblr_inline_ou4nqwNeuN1t2hrso_540.gif" {:tags ["flirt"]},
        "tumblr_inline_n7ku2o0MEQ1rfub2x.gif" {:tags ["love"
                                                      "food"
                                                      "rat"
                                                      "cute"]},
        "tumblr_inline_n02ln87VtH1rfub2x.gif" {:tags ["more"
                                                      "love"
                                                      "cum"]},
        "midgetfaceslide.gif" {:tags ["ow" "wrestling"]},
        "rub-my-face-on-his-face-misomeru1.gif" {:tags ["flirt"]},
        "Yv5E7gg.gif" {:tags ["ksp" "oh no"]},
        "aPYfuYI.gif" {:tags ["trust" "fall"]},
        "tumblr_nj1r0epp3M1u2hg20o6_500.gif" {:tags ["yes"
                                                     "hot"
                                                     "love"]},
        "tumblr_mz5igtP9jG1t4o62mo1_250.gif" {:tags ["parkour"]},
        "postcards.gif" {:tags ["academic"]},
        "DgOBX.gif" {:tags ["bees"]},
        "2eqdwgi.gif" {:tags ["love" "christina"]},
        "ummm/Opra-eyeRoll.gif" {:tags ["no" "um"]},
        "doitjustonemoretimep1.gif" {:tags ["frustration"]},
        "tumblr_ojovbpTZbO1uaibnso4_250.gif" {:tags ["flirt"]},
        "tumblr_o0kd4wbK9C1t95h1uo1_500.gif" {:tags ["surreal"]},
        "tumblr_lqwsa7LM1k1qcs3sko1_500.gif" {:tags ["screaming"
                                                     "oh no"]},
        "lkWFHkU.gif" {:tags ["raccoon" "fight"]},
        "tumblr_n9h5q7gpSm1sjiqoio1_400.gif" {:tags ["hot" "fucking"]},
        "tumblr_mgnagvanak1rlzgq1o6_400.gif" {:tags ["fuck this"
                                                     "godzilla"]},
        "tumblr_lt4nl6DAP11qmf9gqo1_500.jpg" {:tags ["tiger"]},
        "Wpw9KLtpuUacf-oyPj4Hpw2 (1).gif" {:tags ["cat" "stealth"]},
        "tumblr_n5tmtmIJiV1rk54eco1_400.gif" {:tags ["hot"]},
        "you got it.gif" {:tags ["oh you" "flirt" "yes"]},
        "tumblr_oj30uiN6Th1r0jrdeo1_540.gif" {:tags ["kink" "hypno"]},
        "tumblr_nwc1k9oMgX1uzjllco2_250.gif" {:tags ["dance"
                                                     "steve raider"
                                                     "hot"]},
        "own-goal.gif" {:tags ["own goal" "whoops" "oh no"]},
        "tumblr_lsydjaQeqQ1qf0wh2o1_r1_400.gif" {:tags ["omg" "baby"]},
        "tumblr_inline_mkp13bskiU1qz4rgp.gif" {:tags ["want"]},
        "tumblr_inline_nw552tTDXf1rqz8pe_540.gif" {:tags ["test"]},
        "tumblr_inline_mwbs48Pny41rfub2x.gif" {:tags ["oh no"
                                                      "explode"]},
        "do-you-want-ice-cream-1.gif" {:tags ["would you like ice cream"
                                              "yes"
                                              "please"
                                              "more"]},
        "surreal/10602601_Flying_cat.gif" {:tags ["surreal" "cat"]},
        "HN3J8.gif" {:tags ["no" "informercial"]},
        "stuffing.gif" {:tags ["bulking" "food"]},
        "tumblr_inline_mm1enhzEvf1qz4rgp.gif" {:tags ["hot"]},
        "tumblr_inline_n5ue9yKxy81rfub2x.gif" {:tags ["food"
                                                      "bulking"
                                                      "yum"]},
        "2jcecs6.gif" {:tags ["my body is ready" "disney"]},
        "tumblr_inline_n863ahExop1rfub2x.gif" {:tags ["jabba"
                                                      "star wars"
                                                      "ew"]},
        "uPZei.gif" {:tags ["boobs" "cooking"]},
        "tumblr_o1ble437581qjzwvbo1_400.gif" {:tags ["gay"
                                                     "flirt"
                                                     "dick"]},
        "tumblr_of4abcHVeq1rps0tqo1_500.gif" {:tags ["oh no"
                                                     "um"
                                                     "feet"
                                                     "kink"]},
        "lBqN3Jq.gif" {:tags ["dump cakes" "cooking"]},
        "Blocked.gif" {:tags ["want"]},
        "Mohiam-BeneGesserit-2000.jpg" {:tags ["dune" "what"]},
        "4LYJJMb.gif" {:tags ["surprise" "urinal" "meeting"]},
        "tumblr_lrmxtxSN0w1qbydky.gif" {:tags ["mean girls"]},
        "vvlquk0.gif" {:tags ["smoke" "cool" "plant"]},
        "tumblr_oqz8k4RnOY1vj7m38o1_r1_400.gif" {:tags ["rupaul"
                                                        "idle"
                                                        "gay"]},
        "23900_original.gif" {:tags ["lying"]},
        "Hypnotic.gif" {:tags ["mystify" "bowie"]},
        "tumblr_m0hi0yB2IO1qky3foo1_500.gif" {:tags ["mean"]},
        "k2iwlv.gif" {:tags ["cozy" "dog" "zzz"]},
        "shock2.gif" {:tags ["what" "oh no"]},
        "tumblr_nbj5kwcMfU1sj5zi0o1_500.gif" {:tags ["hot" "dick"]},
        "qsqku8.gif" {:tags ["bored"]},
        "brit.gif" {:tags ["nope" "britney"]},
        "2u6znkx.gif" {:tags ["no"]},
        "d92cb584ea57d3e314b8ce3192e60f43927e09f2_m.gif" {:tags ["rubix cube"]},
        "tumblr_mtu9dvbri41s19pnbo9_500.gif" {:tags ["aesthetic"]},
        "zRso5jU.gif" {:tags ["web" "computer"]},
        "1eI69.gif" {:tags ["want"]},
        "tumblr_inline_otkhzmtXom1qjem53_540.gif" {:tags ["tea"]}},
 :gif-dir "/home/aphyr/images/gifs"}
